.featured {
    height: 100vh;
   margin-top: -20px;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
  
    .container {
     
      display: flex;
      align-items: center;
      padding: 5% 10%;

      

  
      .left {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        flex:1;
  
        h1 {
          font-size: 45px;
  
          span {
            font-style: italic;
            font-weight: 300;
          }
        }
  
        .search {
          background-color: white;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          overflow: hidden;
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: -5px 10px 8px 1px rgba(201, 201, 201, 0.47);
          border: 0.5px solid lightgray;
  
          .searchInput {
            display: flex;
            align-items: center;
            gap: 10px;
            
            img {
              width: 20px;
              height: 20px;
              margin: 10px;
            }
  
            input {
              border: none;
              outline: none;
  
              &::placeholder {
                color: gray;
              }
            }
          }
  
          button {
            width: 120px;
            height: 50px;
            border: none;
            background-color: #1dbf73;
            color: white;
            align-self: flex-end;
            cursor: pointer;
          }
        }
  
        .popular {
          display: flex;
          align-items: center;
          gap: 10px;
  
          span {
            width: max-content;
           
          }
  
          button {
            width: max-content;
            color: black;
            border: 1px solid black;
            padding: 5px 10px;
            border-radius: 20px;
            background-color: transparent;
            font-size: 14px;
            cursor: pointer;
          }
        }
      }
  
      .right {
        height: 100%;
        bottom: 0;
        
        
        img {
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }