* {
  padding: 0;
  margin: 0;
}
.formContainer {
  height: 100vh;
  background: #19376D;
  display: flex;
  justify-content: center;
  align-items: center;

  .formWrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    text-align: center;
    gap: 12px;
    z-index: 0;
    border-radius: 12px;
    .logo {
      font-weight: bold;
      font-size: 24px;
      color: #19376d;
    }
    .title {
      color: #19376d;
      font-size: 12px;
    }
    form {
      display: flex;
      flex-direction: column;

      gap: 12px;
      #file {
        display: none;
      }
      input {
        padding: 15px;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        &::placeholder {
          color: rgba(175 175 175);
        }
        &:focus ~ input {
          top: -5;
          color: #19376d;
        }
      }
      button {
        margin-top: 5px;
        background: #1dbf73;
        padding: 10px 20px;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }
    }
    p {
      color: #4f3b78;
      font-size: 14px;
      margin-top: 10px;
    }
  }
}

// message section page

.homeContainer{
    background: #b5baff;
    height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .homeWrapper{
    border:1px solid white;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
    // @include mobile{
    //     width: 90%;
    // height: 80%;
    }
    .sidebar{
        flex:1;
        width: 100px;
        background: #363B4E;
        position: relative;
        .navbar{
            display: flex;
            background: #262c3e;
            padding: 10px;
            color: #b7bedc;
            // @include mobile{
            //     font-size: 12px;
            }
            justify-content: space-between;
            align-items: center;
            .logo{
                font-weight: bold;
                // @include mobile{
                //     display: none;
                // }
            }
            .user{
                display: flex;
                gap: 10px;
                align-items: center;
                img{
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                    
                    
                button{
                    background-color: #4F3B78;
                    cursor: pointer;
                    font-size:10px;
                    border: none;
                    color:white;
                    padding: 5px;
                    // @include mobile{
                    //     position: absolute;
                    //     bottom: 5px;
                    //     right: 5px;
                    // }
                }
            }
        }
        .search,.chats{
            .searchForm{
                border-bottom: 1px solid gray;
                padding: 0 10px;
                display: flex;
                align-items: center;
                img{
                    height: 20px;
                    width: 20px;
                    cursor: pointer;
                }
                input{
                    border:none;
                    width: 100%;
                    color: white;
                    font-weight: bold;
                    background-color:transparent;
                    padding: 10px 0;
                    margin: 0;
                    outline: none;
                    &::placeholder{
                        color: lightgray;
                        padding: 0 5px;
                    }

                }
                

            }
            .userChat{
                display: flex;
                gap: 10px;
                align-items: center;
                padding: 10px;
                color: white;
                cursor: pointer;
                &:hover{
                    background-color: #1c1f2a;
                }
                // @include mobile{
                //     font-size: 12px;
                // }

                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                    // @include mobile{
                    //   display: none;
                    //   margin-bottom: 20px;
                    // }
                }

            }
            .userInfo{
                span{
                    font-weight: bold;
                }
                p{
                    font-size: 10px;
                    color: lightgray;
                }
            }
        }

    }
    .chat{
        flex:2;
        background: #d0c8e2;
//         @include mobile{
// flex: 3;          
//         }

        .chatInfo{
            display: flex;
            justify-content:space-between;
            height: 50px;
            align-items: center;
            background:#5b6a97;
            padding: 0 20px;
            color: white;
            // @include mobile{
            //     font-size: 12px;
            // }
            span{
                font-weight: bold;
            }
            .chatIcon{
                display: flex;
                align-items: center;
                gap:10px;
                img{
                cursor: pointer;
                    
                }
                
            }
        }
        .messages{
            margin-top: 5px;
            padding: 10px;
            background: #d0c8e2;
            height: calc(100% - 125px);
            overflow: scroll;
            display: flex;
            flex-direction: column;
            gap: 20px;
           
            
            
            &::-webkit-scrollbar {
                display: none;
              }
            .message{
                display: flex;
                gap:20px;
                .messageInfo{
                    display: flex;
                    flex-direction: column;
                    gap:5px;
                    color: gray;
                    font-weight: 300;
                     img{
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    // @include mobile{
                    //     width: 25px;
                    // height: 25px;
                    // }

                    }
                    span{
                        font-size: 10px;
                       
                    }
                }
                .messageContaint{
                    max-width: 80%;
                    display: flex;
                    flex-direction: column;
                    gap:10px;

                    img{
                        width: 50%;
                        
                        
                        object-fit: cover;
                    }
                    p{
                        background-color: white;
                        padding: 10px 20px;
                        border-radius:  0 10px 10px 10px;
                       max-width: max-content;
                    //    @include mobile{
                    //   font-size: 12px;
                    //   padding: 7px 15px;
                    // }
                    }
                }
               
            &.owner{
                flex-direction: row-reverse;
                gap: 20px;
                .messageContaint{
                    align-items: flex-end;
                    p{
                        background-color: #9372d6;
                        border-radius:  10px 0px 10px 10px;
                        color: white;
                        max-width: max-content;
                         
                }
            }
                }
            }
           }
        .input{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;
            background: white;
            padding: 10px;
            input{
                border:none;
                outline: none;
                width: 100%;
                    
                
            }
            .send{
                display: flex;
                gap: 10px;
                align-items: center;
                img{
                    height: 24px;
                    width: 24px;
                    cursor:pointer;
                }
                button{
                    border:none;
                    background: #7d4be0;
                    padding: 5px;
                    color: white;
                    font-size: 12px;
                    font-weight: 300;
                    cursor: pointer;
                }
            }
        }
    }
    
